.project-container:hover .project-icon {
  animation: jump 0.6s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.project-container:hover {
  background-color: #e0d8ce;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
